@if (isAuthLayout) {
  <router-outlet />
} @else {
  <section class="layout" [class.menu-collapsed]="isMenuCollapsed">
    <app-header (menuToggle)="toggleMenu()" />

    <mat-sidenav-container class="layout-body" autosize>
      <mat-sidenav
        class="app-sidenav"
        mode="side"
        opened
        [fixedInViewport]="false"
      >
        <app-sidebar [collapsed]="isMenuCollapsed" />
      </mat-sidenav>

      <mat-sidenav-content class="app-content">
        <main class="page-shell">
          <router-outlet />
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </section>
}
